<section>
    <h1>Attach a new accessory</h1>
    <div class="form">
        {{#with cubicle}}
        <h2>{{name}}</h2>
        <img class="cube" src="{{imageUrl}}">
        {{/with}}
        <form action="" method="post">
            {{#if error}}
            <div class="error-box">
                {{#each error}}
                <p><span class="error">{{this}}</span></p>
                {{/each}}
            </div>
            {{/if}}
            <label for="accessory">Accessories</label>
            <select id="accessory" name="accessory" />
            {{#if accessories}}

            {{#each accessories}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}

            {{else}}
            <option value="accessory">No Accessories</option>
            {{/if}}
            </select>
            {{#if accessories}}
            <input type="submit" value="Attach">
            {{else}}
            <input type="submit" value="Attach" disabled>
            {{/if}}
        </form>
        {{#unless accessories}}
        <h3 class="italic">This cube has all available accessories so far or there is no available at all...</h3>
        {{/unless}}
        {{#with cubicle}}
        <a class="btn" href="/cube/details/{{_id}}">Back</a>
        {{/with}}
    </div>
</section>